

header.header
  .d-flex.justify-content-start
  img(src='/image/woc.bmp')
  .d-flex.justify-content-end
    ul#inline.navbar-nav.navbar-expand-lg
      li.nav-item.active
        a.nav-link(href='/Home') Home
      li.nav-item
        a.nav-link(href='/HSE') Forms
      li.nav-item
        a.nav-link(href='https://wildcatuniversity.talentlms.com') The U
      li.nav-item
        a.nav-link(href='/About') About Us
      li.nav-item
        a.nav-link(href='/login') Login