header.header
  
  .row
    .col
      .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.float-right
          li.nav-item.active
            a.nav-link(href='/Dashboard') Home
          li.nav-item
            a.nav-link(href='/HSE Standards & Forms') HSE Standards/Forms
          li.nav-item
            a.nav-link(href='/Training') Training
          li.nav-item
            a.nav-link(href='/About/Us') About Us
       