extend layout

block content
    .row
    h1 WildCat Oil Tools

        h2.text-center Wildcat Oil Tools is a global provider of premier drilling, completion, and production technology and services               
            a.text-center(href="userreg") New User Registration

